body {
    padding-left:60px;
}

h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
